
// Fonts
@import url('https://fonts.googleapis.com/css?family=Jura|Unica+One');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html {
  font-size: 1rem;
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.2rem;
  }
}

.jura {
  font-family: $jura;
}

.unica-one {
  font-family: $unica-one;
}

.border-3 {
  border-style: solid;
  border-width: 3px;
}

.soft-shadow {
  box-shadow: 0px 0px 1px $soft;
}

.navbar a {
  color: $main;
}

@include media-breakpoint-up(lg) {
  .nav-item:first-child .nav-link:before {
    content: "";
  }

  .nav-item .nav-link:before {
    content: "|";
    font-size: 20px;
    color: $soft;
    margin-right: 20px;
  }
}

.post-body {
  font-size: 1.2rem;
}